language: java
jdk:
        - oraclejdk8
cache:
          directories:
                  - .autoconf
                  - $HOME/.m2
install: mvn clean install -DskipTests=true  -q
script: mvn package -q



